{% load static %}
<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="{% static 'css/student_Dashboard.css' %}">
     
    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <title>Admin Dashboard Panel</title>
</head>
<body>
    <nav>
        <div class="logo-name">
            <div class="logo-image">
               <img src="{% static 'img/ChatGPT Image May 1, 2025, 12_48_30 PM.png' %}" alt="">
            </div>
            <span class="logo_name">Student Dashboard</span>
        </div>
        <div class="menu-items">
            <ul class="nav-links">
                <li><a href="{% url 'student_dashboard'%}">
                    <i class="uil uil-estate"></i>
                    
                    <span class="link-name">Dahsboard</span>
                </a></li>
                <li><a href="{% url 'dashboard_courses'%}">
                    <i class="uil uil-files-landscapes"></i>
                    <span class="link-name">Courses</span>
                </a></li>
                <li><a href="{% url 'student_profile'%}">
                    <i class="uil uil-chart"></i>
                    <span class="link-name">Profile</span>
                </a></li>
                <!-- <li><a href="#">
                    <i class="uil uil-thumbs-up"></i>
                    <span class="link-name">Like</span>
                </a></li>
                <li><a href="#">
                    <i class="uil uil-comments"></i>
                    <span class="link-name">Comment</span>
                </a></li>
                <li><a href="#">
                    <i class="uil uil-share"></i>
                    <span class="link-name">Share</span>
                </a></li> -->
            </ul>
            
            <ul class="logout-mode">
                <li><a href="{% url 'stu_logout' %}">
                    <i class="uil uil-signout"></i>
                    <span class="link-name">Logout</span>
                </a></li>
                <li class="mode">
                    <a href="#">
                        <i class="uil uil-moon"></i>
                    <span class="link-name">Dark Mode</span>
                </a>
                <div class="mode-toggle">
                  <span class="switch"></span>
                </div>
            </li>
            </ul>
        </div>
    </nav>
    <section class="dashboard">
        <div class="top">
            <i class="uil uil-bars sidebar-toggle"></i>
            <div class="search-box">
                <i class="uil uil-search"></i>
                <input type="text" placeholder="Search here...">
            </div>
            <div class="user-info">
                <div class="user-text">
                    <div class="user-name">{{ student.Full_Name }}</div>
                    <div class="user-email">{{ student.Email }}</div>
                </div>
                <div class="user-avatar">
                    {% if student.Profile_Image %}
                        <img src="{{ student.Profile_Image.url }}" alt="Profile Image">
                    
                    {%else%}
                        <img src="{% static 'img/default.png' %}" alt="Profile" />
                    {% endif %}
                </div>
            </div>
            
        </div>
        <div class="dash-content">
            <div class="profile-container">
                <div class="profile-card">
                    <h2 style="text-align: center;">
                        <i class="uil uil-user"></i> My Profile
                    </h2>
            
                    <div class="profile-img" style="text-align: center; margin-bottom: 1rem;">
                        {% if student.Profile_Image %}
                            <img src="{{ student.Profile_Image.url }}" alt="Profile Image"
                                 style="width: 120px; height: 120px; border-radius: 50%; object-fit: cover;">
                        {% endif %}
                    </div>
            
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="profile-form">
                            <label>Full Name</label>
                            {{ form.Full_Name }}
                        
                            <label>Date of Birth</label>
                            {{ form.Date_of_Birth }}
                        
                            <label>Gender</label>
                            {{ form.Gender }}
                        
                            <label>Email</label>
                            {{ form.Email }}
                        
                            <label>Mobile number</label>
                            {{ form.Mobile_number }}
                        
                            <label>Education Qualification</label>
                            {{ form.Education_Qualification }}
                        
                            <label>Guardian Name</label>
                            {{ form.Guardian_Name }}
                        
                            <label>Guardian Occupation</label>
                            {{ form.Guardian_Occupation }}
                        
                            <label>Guardian Mobile</label>
                            {{ form.Guardian_Mobile }}
                        
                            <label>Address</label>
                            {{ form.Address }}
                        
                            <label>Country</label>
                            {{ form.Country }}
                        
                            <label>State</label>
                            {{ form.State }}
                        
                            <label>City</label>
                            {{ form.City }}
                        
                            <label>Pin Code</label>
                            {{ form.Pin_code }}

                            {% if not student.Profile_Image %}
                            <p style="color: red; font-weight: bold;">⚠️ Please upload your profile photo</p>
                            {% endif %}
                        
                            <label>Profile Image</label>
                            {{ form.Profile_Image }}

                           
                        </div>
                        <div style="text-align: center; margin-top: 0.5rem;">
                            <button type="button" class="btn-save" onclick="window.location.href='{% url 'force_password_change' %}'">
                            Change Password
                            </button>
                        </div>
                        <div style="text-align: center; margin-top: 1rem;">
                            <button type="submit" class="btn-save">Save Changes</button>
                        </div>
                    </form>
                </div>
            </div>
            
        </div>
    </section>
    <script src="{% static 'js/student_Dashboard.js' %}"></script>
</body>
</html>